body {
    background-color: #8080800f;
}

/* start header section */
header{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    z-index: 10000;
    font-weight: bold;
    background: royalblue;
}
header .row{
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
header .row .col-7{
    display: flex;
    justify-content: flex-end;
}
header .logo{
    color: #fff;
    width: 68px;
    height: 75px;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    font-weight: 500px;
    transition: 0.3s;
}
header ul li a:hover, .active{
    background: #fff;
    color: royalblue;
    border-radius: 20px;
    padding: 6px 15px;
    margin-left: 0px;
}
header ul li #active{
    background: #fff;
    color: royalblue;
    border-radius: 20px;
    padding: 8px 27px;
    margin-left: 0px;
}
header ul .ic{
    width: 30px;
    height: 30px;
    background: transparent;
}

/* start header section */

/* Start body of section */
.u-photo{
    width: 300px;
    height: 300px;
}

.cont {
    width: 85%;
    margin: auto;
}

h2 {
    color: midnightblue;
    letter-spacing: 6px;
}

.cont .col-7 {
    box-shadow: -2px 5px 42px -11px #80808082;
    padding: 0 0 0 27px;
    height: 373px;
}

.cont .col-7 label{
    width: 12%;
    color: #0000008c;
}

.cont .col-7 input{
    width: 80%;
    margin: 12px 0;
    border: 0;
    padding: 7px 14px;
    border-bottom: 2px #80808085 solid;
    border-radius: 7px;
    outline: 0;
    /* position: relative; */
}

.cont .col-7 .form-btn{
    position: relative;
}

.cont .col-7 .btn2::after{
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 78px;
    opacity: 0.2;
    transform: rotate(30deg);
    left: 232px;
    top: -15px;
    z-index: 0;
    transition-duration: 0.3s;
}
.cont .col-7 .btn2:hover .btn2::after{
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 78px;
    opacity: 0.2;
    transform: rotate(30deg);
    left: 485px;
    top: -15px;
    z-index: 0;
    transition-duration: 0.3s;
}

.cont .col-4 .input-group {
    opacity: 0;
}

form .btn2 {
    padding: 11px 50px;
    font-weight: 600;
}

.cont .col-4 .u-photo {
    width: 300px;
    height: 300px;
    border: 0;
    margin: auto;
    border-radius: 50%;
    position: relative;
    top: -39px;
    overflow: hidden;
}

.cont .col-4 .u-photo .expert-img {
    width: 100%;
    border-radius: 50%;
}

.cont .col-4 .icon {
    position: absolute;
    bottom: 286px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 196px;
    left: 221px;
    background-color: lightgray;
    border: 7px solid white;
} 

.cont i{
    border: 0;
    background-color: transparent;
    font-size: 35px;
    position: absolute;
    right: 11px;
    top: 10px;
}

.cont .col-4 .inp {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: inline-block;
    border: 0;
    overflow: hidden;
    position: relative;
    left: 218px;
    bottom: 129px;
}

.cont .col-4 input {
    width: 224px;
    height: 130%;
    position: absolute;
    top: -9px;
    right: -50px;
    color: transparent;
    background-color: transparent; 
    bottom: 178px;
    right: -22px;
    z-index: 2;
    border: 0;
}

.btn2{
    background-color: blue;
    border-color: blue;
    transition-duration: 0.5s;
}
.btn2:hover{
    background-color: royalblue;
    border-color: royalblue;
}



/* Start footer */
footer{
    display: flex;
    text-align: center;
    bottom: 0;
    position: fixed;
}

.logo img{
    width: 44px;
    padding-top: 6px;
}

footer .icons .up {
    letter-spacing: 0;
    color: #808080d1;
}

footer .icons .down {
    color: white;
    font-size: 21px;
    letter-spacing: 35px;
}

footer p{
    display: inline-block;
    font-size: 10px;
    color: white;
    font-style: normal;
    color: gray;
}

footer .icons #pin{
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 3px 21px 23px 5px;
    margin: 0px 0px;
    margin: -1px 9px 1px;
    width: 10px;
    height: 14px;
    position: relative;
    right: 19px;
    transition-duration: 0.3s;
}

footer .icons #pin:hover{
    background-color: royalblue;
    color: #fff;
}

footer .icons a {
    color: white;
    transition-duration: 0.3s;
}

footer .down a:hover{
    color: royalblue;
}
/* End footer */









.form-input-2 input{
    display: none;
}
.form-input-2 i{
    position: relative;
    top: 61px;
    left: 89px;
}